h1 {
  background-color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  padding: 0;
}
.Todo-Item:hover .trash-icon {
  display: block;
}
